*{
    background-color:burlywood;
}
#Titulo{
    text-shadow: 2px 1px 1px white;
    font-size: 49px;
    border: 2px solid red;
    width: 50%;  
    text-align: center;
    position:relative;
    left: 25%;
    
}
#Titulo:hover{
    color: whitesmoke;
    text-shadow: 2px 1px 1px black;
}
.info:hover{
    color: red;
}
.titulo{
    background-color: whitesmoke;
}
.base{
    border:2px solid red;
    text-align: center;
    border-radius: 24px;
    background-color:whitesmoke;
}

ul{
    color: green;
    background-color: whitesmoke;
  
}
ul :hover{
    color:red;
}

.menu{
    display: inline-flex;
    width: 70px;
    background-color: whitesmoke;

}

li a{
    color:green;
    background-color: whitesmoke;
    
}
li a:hover{
    color:red;
}

#version{
    text-align:center;
    
}
#Uno{
    background-color: whitesmoke;
}
