
body{
    background-image: url(imagenes/360_F_555586190_gYzAmpabFFA1ab2yyj24SsBYiA7EWWak.jpg);
    background-size: cover;
}
#Titulo{
    text-shadow: 2px 1px 1px white;
    font-size: 49px;
    border-radius: 10px 10px 35px 10px;
    box-shadow: 1px 1px 65px;
    width: 50%;  
    text-align: center;
    position:relative;
    left: 25%;
    
}
#Titulo:hover{
    color: whitesmoke;
    text-shadow: 5px 1px 1px black;
    border:3px solid;
}
 

.info:hover{
    color: red;
}

.titulo{
    background-color: whitesmoke;
}
.base{
    border:2px solid red;
    text-align: center;
    border-radius: 24px;
    background-color:whitesmoke;
}

ul{
    color: green;
    background-color: whitesmoke;
  
}
ul :hover{
    color:red;
}

.menu{
    display: inline-flex;
    width: 70px;
    background-color: whitesmoke;
    
    
}


li a{
    color:green;
    background-color: whitesmoke;
    
}
li a:hover{
    color:red;
}

#version{
    text-align:center;
    
}
/*LIneas de menu*/
#Uno{
    background-color: whitesmoke;
}
#Dos{
    background-color: whitesmoke;
}
#Tres{
    background-color: whitesmoke;
}
a{
    text-decoration-line: none;
}
.boton{
   border: 1px solid red;
   border-radius: 15px;
   background-color: whitesmoke;
   
}
.boton:active{
   border: 1px solid gray;
   border-radius: 15px;
   background-color:whitesmoke;
   box-shadow: 2px 4px 12px 2px black;
   transform: translate(2px);
}

.Datos{
    border: 1px solid ;
    border-radius: 35px;
    box-shadow: 1px 1px 65px black;
    color: whitesmoke;
}
.Datos:hover{
    color: whitesmoke;
    box-shadow: 1px 10px 1px black;
    border:6px solid;
}
.Datos img{
    border: 2px solid blue;
    border-radius: 100%;
}
.tituloDedatos{
    color: whitesmoke;
}
.generos{
    text-align: center;
}
.botones{
    text-align: center;
}
#ContenidoDatos{
    color: red;
    text-align: start;
}





